<html>
<head>


<title>Login</title>
<h1>Hello World</h1>

<h3>Login</h3>




<textarea rows="1" cols="20" placeholder="Username"></textarea>
<textarea rows="1" cols="20" placeholder="Password"></textarea>
<br><br>
<input type="submit" id="left_button" value="New User?">
<input type="submit" id="right_button" value="Login">






</head>
</html>
