<html>
<head>


<title>Login</title>
<h1>Get your login here!</h1>

<h3>First time users register</h3>
<input type="submit" id="upper_button" value="Register">


<br><br>
<h3>Login</h3>
<textarea rows="1" cols="20" placeholder="Username"></textarea>
<textarea rows="1" cols="20" placeholder="Password"></textarea>
<br><br>
<input type="submit" id="lower_button" value="Login">


</head>
</html>
