<html>
<head>
  <title>Enter contact info</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>



<div class="welcome">
<div class="formline">

<form method="post" action="filling_form">

<h2>Contact info</h2>
<h5>First Name <input type="text" name="info[]" style="width:250px; height:27px" maxlength="30" required><br>
<h5>Last Name <input type="text" name="info[]" style="width:250px; height:27px" maxlength="30" required><br>
<h5>Phone <input type="text" name="info[]" style="width:150px; height:27px" maxlength="20" required><br>
<h5>Address 1 <input type="text" name="info[]" style="width:250px; height:27px" maxlength="30"><br>
<h5>Address 2 <input type="text" name="info[]" style="width:250px; height:27px" maxlength="30"><br>
<h5>City <input type="text" name="info[]" style="width:250px; height:27px" maxlength="25"><br>
<h5>State <input type="text" name="info[]" style="width:40px; height:27px" maxlength="2" pattern="[A-Z\s]+">   ZIP <input type="text" name="info[]" style="width:80px; height:27px" maxlength="10" pattern="[a-zA-Z0-9\s]+"><br></h5>

<input class="button2" type="submit" value="Enter">
</form>
</div>
</div>


</html>

<!--



<h1 id = "box2" class = "font_size cent font_type"> Phone Book App</h1>



<div id = "box" class = "font_size cent">
<form method = "post" action = "results">
	<input type = "text" name = "info[]" placeholder="First Name" required>
	<input type = "text" name = "info[]" placeholder="Last Name" required><br>
	<input type = "text" name = "info[]" placeholder="Street Address" required>
	<input type = "text" name = "info[]" placeholder="City" required><br>
	<input type = "text" name = "info[]" placeholder="State" required>
	<input type = "number" name = "info[]" placeholder="Zip Code" required><br>
	<input type = "number" name = "info[]" placeholder="Phone Number" required>
	<input type = "submit" value = "enter">
</form>
</div> -->
