<html>
<head>
  <title>Enter contact info</title>
</head>

  <style>


  </style>




<form method="post" action="contacts_page">

<h1>Go take a hike!</h1>
<h4>First Name</h4>
<input type="text" name="loginname" maxlength="20" pattern="[a-zA-Z0-9\s]+" required><br>
<h4>Last Name</h4>
<input type="text" name="loginname" maxlength="20" pattern="[a-zA-Z0-9\s]+" required><br>
<h4>Phone number</h4>
<input type="text" name="loginname" maxlength="20" pattern="[a-zA-Z0-9\s]+" required><br>
<h4>Address 1</h4>
<input type="text" name="loginname" maxlength="20" pattern="[a-zA-Z0-9\s]+"><br>
<h4>Address 2</h4>
<input type="text" name="loginname" maxlength="20" pattern="[a-zA-Z0-9\s]+"><br>
<h4>City</h4>
<input type="text" name="loginname" maxlength="15" pattern="[a-zA-Z0-9\s]+"><br>
<h4>State</h4>
<input type="text" name="loginname" maxlength="2" pattern="[a-zA-Z0-9\s]+"><br>
<h4>ZIP</h4>
<input type="text" name="loginname" maxlength="10" pattern="[a-zA-Z0-9\s]+"><br>

</form>
