<title>Search for entry</title>



<div id = "box" class = "font_cent">
<form method = "post" action = "update">
  <h1>Search and update page</h1>

<%unless search_data_phone == "Need search term." || search_data_phone ==  "Not in phone book." %>
   <%search_data_phone.each do |row|%>
	<%yup = row.join(",")%>
		<input type = "checkbox" name = "info[]" value = "<%=yup%>">
		<%row.each do |item| %>
			<%=item%>
		<%end%>
	<br>
	<%end%>
 <%else%>
 <%=search_answer%>
 <%end%>
<input type = "radio" name = "choose" value = "update" checked>Update<br>
<input type = "radio" name = "choose" value = "delete">Delete<br>
<input type = "submit" value = "enter">
</form></div>
