<div class = "font_size cent font_type"><form method = "post" action = "updated">
  <h1>Update page</h1>


<!-- # <%update_table(info_new, old_phone)%> -->


<%info.each do |row|%>
<%=row%>
<%split = row.split(',')%>
<br>
<%split.each do |item|%>
<input type = "text" name = info[] value = "<%=item%>">
<%end%>
<br>
<%end%>


<input type = "submit" value = "update">
</form></div>
