<div>
  <h1>Welcome, you bum!</h1>
  <form method="post" action="welcome_new">
    <input class="button" type="submit" value="New entry">
  </form>
  <form method="post" action="welcome_update">
    <input class="button" type="submit" value="Update entry">
  </form>
  <form method="post" action="welcome_search">
    <input class="button" type="submit" value="Search table">
  </form>
  <form method="post" action="welcome_delete">
    <input class="button" type="submit" value="Delete entry">
  </form>
