<head>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>

<style>
</style>


<body>

<div class="welcome">
<h1><font color="black">Welcome, you bum!</h1>
<h4>Pick a winner</h4>
  <form method="post" action="welcome_new">
    <input class="button1" type="submit" value="New entry">
  </form>
  <form method="post" action="welcome_update">
    <input class="button1" type="submit" value="Update entry">
  </form>
  <form method="post" action="welcome_search">
    <input class="button1" type="submit" value="Search table">
  </form>
  <form method="post" action="welcome_delete">
    <input class="button1" type="submit" value="Delete entry">
  </form>
</div>


</body>
